<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Edit Labor and Delivery Report</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<div ng-app="myApp" ng-controller="documentOfficeVisitCtrl">
			<div style="float: left; width: 30%; height: 75%; overflow-y: auto">
				<h2>Patients:</h2>
				<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
				and https://docs.angularjs.org/api/ng/filter/filter -->
				<h4>
					Search: <input type="text" name="search" ng-model="searchFilter" />
				</h4>
				<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
				<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
				<ul style="overflow: auto;height=90%;" id="patientList">
					<!-- Information on how labels wor from here: https://stackoverflow.com/questions/7863251/clicking-the-text-to-select-corresponding-radio-button -->
					<li ng-repeat="patient in patients | filter:filterPatients"><h4>
							<label> <input type="radio"
								ng-model="$parent.selectedPatient" name="patient"
								value="{{patient.self.username}}"
								ng-click='$parent.selectPatient(patient)' />&nbsp;{{$parent.displayName(patient)}}
							</label>
						</h4></li>
				</ul>
			</div>
			<!-- information on vertical rule found here: https://stackoverflow.com/questions/571900/is-there-a-vr-vertical-rule-in-html  -->
			<div
				style="float: left; width: 70%; border-left: 1px solid #bbb; padding-left: 3%; height: 75%; overflow-y: auto">
				<h2 id="header0">Patient Labor and Delivery Reports</h2>


				<div class="form-group" ng-if="selectedPatient && displayedPregForm">
					<button type="submit" class="btn btn-primary" ng-click=createLD()
						name="createLD" id="submitPregnancy">Create Labor and
						Delivery Report</button>
				</div>


				<div ng-if="priorPregnancies && priorPregnancies.length > 0">
					<br> <b>Previous Labor and Delivery Reports</b>
				</div>


				<table class="table table-bordered" ng-if="child.length == 0">
					<!-- ng-repeat="pregnancy in priorPregnancies">  -->
					<thead>
						<tr>
						    <th>  </th>
							<th>Labor Date</th>
							<th>Labor Time</th>
							<th>Delivery Date</th>
							<th>Delivery Time</th>
							<th>Type of Delivery</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="pregnancy in priorPregnancies">
						
						<td class="radio"
						ng-repeat="patient in patients | filter:filterPatients">
						<label> <input type="radio" id="{{patient.self.username}}"
							ng-model="$parent.selectedPatient" name="patient"
							value="{{patient.self.username}}"
							ng-click='$parent.selectPatient(patient)' />
							&nbsp;{{$parent.displayName(patient)}}
						</label>
					</td>
					
							<td id="conceptionYear-{{$index}}">{{pregnancy.conceptionYear}}</td>
							<td id="numWeeksPregnant-{{$index}}">{{pregnancy.numberOfWeeksPregnant}}</td>
							<td id="numHoursInLabor-{{$index}}">{{pregnancy.numberOfHoursInLabor}}</td>
							<td id="deliveryMethod-{{$index}}">{{pregnancy.deliveryMethod}}</td>
							<td id="twins-{{$index}}" ng-if="pregnancy.twins">Yes</td>
							<td id="twins2-{{$index}}" ng-if="!pregnancy.twins">No</td>
						</tr>
					</tbody>
				</table>


				<table class="table table-bordered" ng-if="child.length > 0">
					<!-- ng-repeat="pregnancy in priorPregnancies">  -->
					<thead>
						<tr>
							<th>Labor Date</th>
							<th>Labor Time</th>
							<th>Delivery Date</th>
							<th>Delivery Time</th>
							<th>Type of Delivery</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Weight</th>
							<th>Height/Length</th>
							<th>Heart Rate</th>
							<th>Systolic Blood Pressure</th>
							<th>Diastolic Blood Pressure</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="pregnancy in priorPregnancies">
							<td id="conceptionYear-{{$index}}">{{pregnancy.conceptionYear}}</td>
							<td id="numWeeksPregnant-{{$index}}">{{pregnancy.numberOfWeeksPregnant}}</td>
							<td id="numHoursInLabor-{{$index}}">{{pregnancy.numberOfHoursInLabor}}</td>
							<td id="deliveryMethod-{{$index}}">{{pregnancy.deliveryMethod}}</td>
							<td id="twins-{{$index}}" ng-if="pregnancy.twins">Yes</td>
							<td id="twins2-{{$index}}" ng-if="!pregnancy.twins">No</td>
						</tr>
					</tbody>

					<thead>
						<tr ng-if="twins">
							<th>Labor Date</th>
							<th>Labor Time</th>
							<th>Delivery Date</th>
							<th>Delivery Time</th>
							<th>Type of Delivery</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Weight</th>
							<th>Height/Length</th>
							<th>Heart Rate</th>
							<th>Systolic Blood Pressure</th>
							<th>Diastolic Blood Pressure</th>
						</tr>
					</thead>

					<tbody>
						<!-- <tr ng-repeat="pregnancy in priorPregnancies track by $index"> -->
						<tr ng-repeat="pregnancy in priorPregnancies">
							<td id="conceptionYear-{{$index}}">{{pregnancy.conceptionYear}}</td>
							<td id="numWeeksPregnant-{{$index}}">{{pregnancy.numberOfWeeksPregnant}}</td>
							<td id="numHoursInLabor-{{$index}}">{{pregnancy.numberOfHoursInLabor}}</td>
							<td id="deliveryMethod-{{$index}}">{{pregnancy.deliveryMethod}}</td>
							<td id="twins-{{$index}}" ng-if="pregnancy.twins">Yes</td>
							<td id="twins2-{{$index}}" ng-if="!pregnancy.twins">No</td>
						</tr>
					</tbody>
				</table>





				<div ng-if="displayedPregForm">

					<div class="row">
						<div class="col">
							<div style="margin-left: 10px;">
								<b>New Labor and Delivery Report</b>
							</div>

							<div class="col-md-5">
								<div class="form-group">
									<label for="conceptionYear">Date of Labor</label>
									<div class="input-group">
										<input class="form-control" id="conceptionYear" type="number"
											ng-model="pregnancyEntry.conceptionYear"
											name="conceptionYear" />
									</div>
								</div>

								<div class="form-group">
									<label for="conceptionYear">Time of Labor</label>
									<div class="input-group">
										<input class="form-control" id="conceptionYear" type="number"
											ng-model="pregnancyEntry.conceptionYear"
											name="conceptionYear" />
									</div>
								</div>

								<div class="form-group">
									<label for="conceptionYear">Date of Delivery</label>
									<div class="input-group">
										<input class="form-control" id="conceptionYear" type="number"
											ng-model="pregnancyEntry.conceptionYear"
											name="conceptionYear" />
									</div>
								</div>

								<div class="form-group">
									<label for="conceptionYear">Time of Delivery</label>
									<div class="input-group">
										<input class="form-control" id="conceptionYear" type="number"
											ng-model="pregnancyEntry.conceptionYear"
											name="conceptionYear" />
									</div>
								</div>

								<div class="form-group">
									<label for="twinsYes">Type of Delivery</label> <select
										class="form-control" ng-model="pregnancyEntry.twinsYes"
										id="twinsYes" name="twinsYes">
										<option ng-repeat="twinOption in twinOptions">{{twinOption}}</option>
									</select>
								</div>




								<!-- IF NOT A MISCARRIAGE SHOW REST OF FIELDS -->
								<div ng-if="notMiscarriage">
									<div class="form-group">
										<label for="numHoursInLabor">Weight</label> <input
											class="form-control" id="numHoursInLabor" type="number"
											ng-model="pregnancyEntry.numHoursInLabor"
											name="numHoursInLabor" />
									</div>

									<div class="form-group">
										<label for="deliveryMethod">Length</label> <select
											class="form-control" ng-model="pregnancyEntry.deliveryMethod"
											id="deliveryMethod" name="deliveryMethod">
											<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
										</select>
									</div>

									<div class="form-group">
										<label for="deliveryMethod">Heart Rate</label> <select
											class="form-control" ng-model="pregnancyEntry.deliveryMethod"
											id="deliveryMethod" name="deliveryMethod">
											<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
										</select>
									</div>

									<div class="form-group">
										<label for="deliveryMethod">Systolic Blood Pressure</label> <select
											class="form-control" ng-model="pregnancyEntry.deliveryMethod"
											id="deliveryMethod" name="deliveryMethod">
											<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
										</select>
									</div>

									<div class="form-group">
										<label for="deliveryMethod">Diastolic Blood Pressure</label> <select
											class="form-control" ng-model="pregnancyEntry.deliveryMethod"
											id="deliveryMethod" name="deliveryMethod">
											<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
										</select>
									</div>

									<div class="form-group">
										<label for="deliveryMethod">First Name</label> <select
											class="form-control" ng-model="pregnancyEntry.deliveryMethod"
											id="deliveryMethod" name="deliveryMethod">
											<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
										</select>
									</div>

									<div class="form-group">
										<label for="deliveryMethod">Last Name</label> <select
											class="form-control" ng-model="pregnancyEntry.deliveryMethod"
											id="deliveryMethod" name="deliveryMethod">
											<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
										</select>
									</div>





									<!-- IF TWINS, NEW TABLE -->

									<div ng-if="twins">

										<div class="row">
											<div class="col">
												<div style="margin-left: 10px;">
													<b>New Labor and Delivery Report</b>
												</div>


												<div class="form-group">
													<label for="conceptionYear">Time of Labor</label>
													<div class="input-group">
														<input class="form-control" id="conceptionYear"
															type="number" ng-model="pregnancyEntry.conceptionYear"
															name="conceptionYear" />
													</div>
												</div>


												<div class="form-group">
													<label for="conceptionYear">Time of Delivery</label>
													<div class="input-group">
														<input class="form-control" id="conceptionYear"
															type="number" ng-model="pregnancyEntry.conceptionYear"
															name="conceptionYear" />
													</div>
												</div>


												<div class="form-group">
													<label for="numHoursInLabor">Weight</label> <input
														class="form-control" id="numHoursInLabor" type="number"
														ng-model="pregnancyEntry.numHoursInLabor"
														name="numHoursInLabor" />
												</div>

												<div class="form-group">
													<label for="deliveryMethod">Length</label> <select
														class="form-control"
														ng-model="pregnancyEntry.deliveryMethod"
														id="deliveryMethod" name="deliveryMethod">
														<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
													</select>
												</div>

												<div class="form-group">
													<label for="deliveryMethod">Heart Rate</label> <select
														class="form-control"
														ng-model="pregnancyEntry.deliveryMethod"
														id="deliveryMethod" name="deliveryMethod">
														<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
													</select>
												</div>

												<div class="form-group">
													<label for="deliveryMethod">Systolic Blood Pressure</label>
													<select class="form-control"
														ng-model="pregnancyEntry.deliveryMethod"
														id="deliveryMethod" name="deliveryMethod">
														<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
													</select>
												</div>

												<div class="form-group">
													<label for="deliveryMethod">Diastolic Blood
														Pressure</label> <select class="form-control"
														ng-model="pregnancyEntry.deliveryMethod"
														id="deliveryMethod" name="deliveryMethod">
														<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
													</select>
												</div>

												<div class="form-group">
													<label for="deliveryMethod">First Name</label> <select
														class="form-control"
														ng-model="pregnancyEntry.deliveryMethod"
														id="deliveryMethod" name="deliveryMethod">
														<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
													</select>
												</div>

												<div class="form-group">
													<label for="deliveryMethod">Last Name</label> <select
														class="form-control"
														ng-model="pregnancyEntry.deliveryMethod"
														id="deliveryMethod" name="deliveryMethod">
														<option ng-repeat="deliveryMethod in deliveryMethods">{{deliveryMethod}}</option>
													</select>
												</div>



											</div>
										</div>
									</div>
									<!--closes ngif twin -->



								</div>
								<!--closes ngif notMiscarriage -->

							</div>

							<div class="form-group"
								ng-if="selectedPatient && displayedPregForm">
								<button type="submit" class="btn btn-primary"
									ng-click=submitLD() name="submitLD" id="submitPregnancy">Submit
									Labor and Delivery Report</button>
							</div>

							<div class="form-group">
								<div name="success" class="text-success"
									style="white-space: pre;">{{message}}</div>
								<div name="errorMsg" class="text-danger"
									style="white-space: pre;">{{errorMsg}}</div>
							</div>
						</div>
					</div>
				</div> <!-- CLOSES LABOR AND DELIVERY REPORT CREATE FORM -->
			
			
			</div>
		</div>
	</div>
	</div>
</body>
</html>