<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Labor and Delivery Reports</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<script th:inline="javascript">
			"use strict";

			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/
			var app = angular.module('myApp', []);
			app.controller(
				'laborDeliveryReports',
				function($scope, $http) {
					$scope.laborAndDeliveryReport = [];
					$scope.form = {
						laborDate : '',
						deliveryDate : '',
						patient : '',
						lastname : '',
						//first child
						weight : 0,
						length : 0,
						heartRate : 0,
						systolic : 0,
						diastolic : 0,
						deliverymethod : '',
						
						//second child
						//firstnameTwin : '',
						lastnameTwin : '',
						weightTwin : 0,
						lengthTwin : 0,
						heartRateTwin : 0,
						systolicTwin : 0,
						diastolicTwin : 0,
						deliverymethodTwin : ''
					};
		
					// Display users' names
					$scope.displayName = function(p) {
						return p.firstName + " " + p.lastName + " (" + p.self.username + ")";
					}
		
					$scope.deliveryMethods = [ 'Vaginal Delivery',
							'Caesarean Section', 'Miscarriage' ];
					$scope.deliveryMethods2 = [ 'Vaginal Delivery*',
						'Caesarean Section*', 'Miscarriage*' ];
					$scope.twinOptions = [ 'Yes', 'No' ];

					// documentation on Angular filters: https://docs.angularjs.org/api/ng/filter/filter
					$scope.searchFilter = "";
					$scope.filterPatients = function(patient) {
						return ($scope.displayName(patient)).toLowerCase().match($scope.searchFilter.toLowerCase());
					}
		
					// Stuff for submitting new record 
					$scope.failAddldReport = function() {
						$scope.errorMsg += "Could not add labor and delivery report.\n";
						$scope.message = "";
					}
		
					$scope.entry = {
						twinOption : '',
						inputlabordate : new Date(),
						inputlabortime : new Date(0, 0, 0, 0, 0,
								null, null),
						inputdeliverydate : new Date(),
						inputdeliverytime : new Date(0, 0, 0, 0, 0,
								null, null)
					}
		
					//Get info for the patients
					$http.get("/iTrust2/api/v1/patients/female")
							.then(function(response) {
								$scope.patients = response.data; //get only female patients
							}, function(rejection) {
								$scope.patient = null;
							});
		
					$scope.submitForm = function() {
						if($scope.errorMsg == "") {
							$http.post("/iTrust2/api/v1/LaborDelivery/", $scope.form)
								.then(
									function success(response) {
										console.log("Posted here!");
										$scope.message = "Labor and delivery report has been added successfully."
										$scope.errorMsg = "";
										
										//Delete the current pregnancy since the baby was delivered
										$http.delete("/iTrust2/api/v1/obstetricsrecord/"+ $scope.form.patient)
				                        .then(function (response) {
				                        	console.log("remove sucess")
				                        	deferred.resolve(response.data);
				                        });
										document.location.href = '/iTrust2/hcp/laborDeliveryReports.html';
									},
									function failure(rejection) {
										console.log("Failed to post here :(");
										$scope.failAddldReport();
									});
						}
					}
					
					var finalDate, time;
					$scope.formatDate = function(dateToConvert) {
						var dd = dateToConvert.getDate();
						var mm = dateToConvert.getMonth()+1; 
						var yyyy = dateToConvert.getFullYear();
						if(dd < 10) {
						   dd = '0' + dd;
						} 
						
						if(mm < 10) {
						   mm = '0' + mm;
						} 
						
						var minutes = dateToConvert.getMinutes();
						
						if( minutes < 10) {
							minutes = '0' + minutes;
						}
						
						var hours = dateToConvert.getHours();
						
						if ( hours == 0) {
							hours = '12';
							minutes = minutes + ' ' + 'AM';
						} else if( hours < 10) {
							hours = '0' + hours;
							minutes = minutes + ' ' + 'AM';
						} else if ( hours > 12 ) {
							hours = hours - 12;
							minutes = minutes + ' ' + 'PM';
						} else if( hours == 11) {
							minutes = minutes + ' ' + 'AM'
						} else if( hours == 12) {
							minutes = minutes + ' ' + 'PM'
						} else {
							minutes = minutes + ' ' + 'AM'
						}
						
						//Final labor Date to present
						finalDate = mm + '/' + dd + '/' + yyyy;
						//Final labor Time to present
						time = hours + ':' + minutes;
					}
					
					$scope.selectPatient = function(patient) {
						$scope.motherlastName = patient.lastName;
						$scope.displayCreateLD = false;
						$scope.showTwinForm = false;				
						$scope.form.patient = patient.self.username;
			
						// Get past pregnancy info for patient
						$http.get("/iTrust2/api/v1/LaborDelivery/patients/" + $scope.selectedPatient)
							.then(function(response) { // on success
								console.log("Past pregnancy info");
								console.log(response);
								$scope.laborAndDeliveryReport = response.data || [];
								
								var size = $scope.laborAndDeliveryReport.length;
								var lbdate, finalldate, lbtime, dldate, type1, type2;
								// Format the dates
								for( var i = 0; i < size; i++) {
									lbdate = new Date(response.data[i].laborDate);
		    						$scope.formatDate(lbdate);
									
									//Final labor Date to present
									$scope.laborAndDeliveryReport[i].newLdate = finalDate;
									//Final labor Time to present
									$scope.laborAndDeliveryReport[i].newLtime = time;

									// Delivery date
									dldate = new Date(response.data[i].deliveryDate);
									$scope.formatDate(dldate);
									
									$scope.laborAndDeliveryReport[i].newDdate = finalDate;
									$scope.laborAndDeliveryReport[i].newDtime = time;								
								
									// To not display those 0 values
									type1 = response.data[i].deliverymethod;
									type2 = response.data[i].deliverymethodTwin;
								
									if ( type1 == 'Miscarriage') {
										$scope.laborAndDeliveryReport[i].weight = "";
										$scope.laborAndDeliveryReport[i].length = "";
										$scope.laborAndDeliveryReport[i].heartRate = "";
										$scope.laborAndDeliveryReport[i].systolic = "";
										$scope.laborAndDeliveryReport[i].diastolic = "";
								
									}
									
									if ( type2 == 'Miscarriage') { // Not supposed to be a space?
										$scope.laborAndDeliveryReport[i].weightTwin = "";
										$scope.laborAndDeliveryReport[i].lengthTwin = "";
										$scope.laborAndDeliveryReport[i].heartRateTwin = "";
										$scope.laborAndDeliveryReport[i].systolicTwin = "";
										$scope.laborAndDeliveryReport[i].diastolicTwin = "";
									}
								}															
								$scope.message = "";
							}, //if it failed
							function(rejection) {
								$scope.laborAndDeliveryReport = [];
                                $scope.message = "Could not display labor and delivery report.";
							});
						// Get current pregnancy info for patient
						$http.get("/iTrust2/api/v1/obstetricsrecord/" + $scope.selectedPatient)
							.then(
								function(response) { // on success
									console.log("Current pregnancy info");
									console.log(response);
									$scope.currentPregnancy = response.data || {};
									$scope.lmpInputDate = new Date();
									$scope.lmp = response.data.lastMenstrualPeriod;
									$scope.estDueDate = response.data.estDueDate;
									$scope.numWeeksPregnant = response.data.numWeeksPregnant;
									$scope.message = "";
								}, //if it failed
								function(rejection) {
									$scope.currentPregnancy = {};
									$scope.message = "Could not display current pregnancy.";
								});
					};

					$scope.displayCreateForm = function() {
						$scope.displayCreateLD = true;
					}
		
					$scope.verifyDate = function(dateToCheck) {
						var now = new Date();
						if (!(dateToCheck instanceof Date) || isNaN(dateToCheck)
								|| now - dateToCheck < 0) {
							return false;
						}
						return true;
					}
					
					$scope.checkDates = function() {
						var validDate = false;
						
						// Validate date and time of labor
						var checkLaborDate = new Date($scope.entry.inputlabordate);
						
						validDate = $scope.verifyDate(checkLaborDate);
						if (!validDate) {
							$scope.errorMsg += "Please input a valid labor date.\n";
						}
								
						const ltime = new Date($scope.entry.inputlabortime);
						checkLaborDate.setHours(ltime.getHours());
						checkLaborDate.setMinutes(ltime.getMinutes());
		
						if (!validDate) {
							$scope.errorMsg += "Please input a valid labor date.\n";
						} else {
							$scope.form.laborDate = checkLaborDate.toISOString();
						}
		
						// Validate date and time of delivery
						var checkDelieveryDate = new Date($scope.entry.inputdeliverydate);
						
						validDate = $scope.verifyDate(checkDelieveryDate);
						if (!validDate) {
							$scope.errorMsg += "Please input a valid delivery date.\n";
						}
								
						const dtime = new Date($scope.entry.inputdeliverytime);
						checkDelieveryDate.setHours(dtime.getHours());
						checkDelieveryDate.setMinutes(dtime.getMinutes());

						if (!validDate) {
							$scope.errorMsg += "Please input a valid labor date.\n";
						} else {
							$scope.form.laborDate = checkLaborDate.toISOString();
						}
		
						// Check valid date and time combination
						validDate = $scope.verifyDate(checkDelieveryDate);
						if (!validDate) {
							$scope.errorMsg += "Please input a valid delivery date.\n";
						} else {
							$scope.form.deliveryDate = checkDelieveryDate.toISOString();
						}
					}
					
					$scope.submitLD = function() {
						$scope.errorMsg = "";
						
						$scope.checkDates(); // Need to update with separate delivery dates
						
						// Check if twin option is chosen.
						if (!$scope.entry.twinOption || !($scope.entry.twinOption == 'Yes' || $scope.entry.twinOption == 'No')) {
							$scope.errorMsg += "You must enter whether the pregnancy was of twins or not.\n";
						}
						
						//Check information for first child
						if (!$scope.form.deliverymethod) {
							console.log("No deliverymethod " + $scope.form.deliverymethod);
							$scope.errorMsg += "A delivery method must be selected.\n";
						} else if ($scope.form.deliverymethod != 'Miscarriage') {
							// Check first name 
							if (!$scope.form.firstname) {
								$scope.errorMsg += "First newborn's first name cannot be empty.\n";
							}
							//If no last name, default to mother's last name
							if ( $scope.form.lastname == '' || $scope.form.lastname == 0) {
								$scope.form.lastname = $scope.motherlastName;
							}
							// Check weight
							if (/^[0-9]{1,4}(\.[0-9]?)?$/
									.test(String($scope.form.weight)
											.replace(/^0+/, '')) == false) {
								$scope.errorMsg += "First newborn's Weight can be up to a 4-digit positive number and potentially one digit of decimal precision\n"
							}
							// Check height
							if (/^[0-9]{1,3}(\.[0-9]?)?$/
									.test(String($scope.form.length)
											.replace(/^0+/, '')) == false) {
								$scope.errorMsg += "First newborn's Height/length can be up to a 3-digit positive number and potentially one digit of decimal precision\n"
							}
							// Check systolic
							if (/^[0-9]{1,3}$/.test(String(
									$scope.form.systolic).replace(
									/^0+/, '')) == false) {
								$scope.errorMsg += "First newborn's Systolic blood pressure can be up to a 3-digit positive number\n"
							}
							// Check diastolic
							if (/^[0-9]{1,3}$/.test(String(
									$scope.form.diastolic).replace(
									/^0+/, '')) == false) {
								$scope.errorMsg += "First newborn's Diastolic blood pressure can be up to a 3-digit positive number\n"
							}
						}
	
						//Check information for second child, if necessary
						if ($scope.entry.twinOption == 'Yes') {
							// delivery method must be check
							if (!$scope.form.deliverymethodTwin) {
								$scope.errorMsg += "A delivery method must be selected.\n";
							} else if ($scope.form.deliverymethodTwin != 'Miscarriage*') {
								var len = $scope.form.deliverymethodTwin.length;
								$scope.form.deliverymethodTwin = $scope.form.deliverymethodTwin.substring(0, len - 1);
								console.log("Delivery method: " + $scope.form.deliverymethodTwin);

								console.log("Delivery method twin: " + $scope.form.deliverymethodTwin);
								//Check twin's name
								if (!$scope.form.firstnameTwin) {
									$scope.errorMsg += "Second Newborn's first name cannot be empty.\n";
								}
								//If no last name, default to mother's last name
								if ($scope.form.lastnameTwin == '' || $scope.form.lastnameTwin.length == 0) {
									$scope.form.lastnameTwin = $scope.motherlastName;
								}
								// Check weight
								if (/^[0-9]{1,4}(\.[0-9]?)?$/.test(String($scope.form.weightTwin).replace(/^0+/, '')) == false) {
									$scope.errorMsg += "Second Newborn's Weight can be up to a 4-digit positive number and potentially one digit of decimal precision\n"
								}
								// Check height
								if (/^[0-9]{1,3}(\.[0-9]?)?$/.test(String($scope.form.lengthTwin).replace(/^0+/, '')) == false) {
									$scope.errorMsg += "Second Newborn's Height/length can be up to a 3-digit positive number and potentially one digit of decimal precision\n"
								}
								// Check systolic
								if (/^[0-9]{1,3}$/.test(String($scope.form.systolicTwin).replace(/^0+/, '')) == false) {
									$scope.errorMsg += "Second Newborn's Systolic blood pressure can be up to a 3-digit positive number\n"
								}
								// Check diatolic
								if (/^[0-9]{1,3}$/.test(String($scope.form.diastolicTwin).replace(/^0+/, '')) == false) {
									$scope.errorMsg += "Second Newborn's Diastolic blood pressure can be up to a 3-digit positive number\n"
								}
							}
						}
						// Post the record to the REST API endpoint, and handle success/error
						$scope.submitForm();
					}
		
					//$scope.deliveryString = document.getElementById("deliveryMethod");
					$scope.isMiscarriage1 = function() {
						//Clear any error messages
						$scope.errorMsg = "";
						$scope.showForm1 = !($scope.form.deliverymethod == 'Miscarriage');
					}
					
					$scope.isMiscarriage2 = function() {
						//Clear any error messages
						$scope.errorMsg = "";
						$scope.showForm2 = !($scope.form.deliverymethodTwin == 'Miscarriage*');
					}
		
					$scope.checkTwin = function() {
						//Clear any error messages
						$scope.showInfant = true;
						$scope.errorMsg = "";
						$scope.showTwinForm = ($scope.entry.twinOption == 'Yes');
					}
				});
			/*]]>*/
		</script>

		<div ng-app="myApp" ng-controller="laborDeliveryReports" class="row">
			<div class="col-md-3">
				<h2>Patients:</h2>
				<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
                    and https://docs.angularjs.org/api/ng/filter/filter -->
				<h4>
					Search: <input type="text" name="search" ng-model="searchFilter" />
				</h4>
				<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
				<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
				<div>
					<div class="radio"
						ng-repeat="patient in patients | filter:filterPatients">
						<label> <input type="radio" id="{{patient.self.username}}"
							ng-model="$parent.selectedPatient" name="patient"
							value="{{patient.self.username}}"
							ng-click='$parent.selectPatient(patient)' />
							&nbsp;{{$parent.displayName(patient)}}
						</label>
					</div>
				</div>
			</div>

			<div
				style="float: left; width: 100%; border-left: 1px solid #bbb; padding-left: 3%; height: 75%; overflow-y: auto">
				<div class="panel panel-primary" ng-if="!displayCreateLD">
					<div class="panel-heading">
						<h3>Labor and Delivery Report{{ selectedPatient ? ' for ' +
							selectedPatient : '' }}</h3>
					</div>
					<div ng-if="!selectedPatient">
						<br> <br> Please select a patient for which to view
						labor and delivery report. </br> </br>
					</div>

					<div
						ng-if="selectedPatient && currentPregnancy.length > 0 && !displayCreateLD">
						<b>Current Pregnancy Information: </b> <br> Last Menstrual
						Period: {{currentPregnancy[0].lastMenstrualPeriod}} <br>
						Estimated Due Date: {{currentPregnancy[0].estDueDate}} <br>
						Weeks Pregnant: {{currentPregnancy[0].numWeeksPregnant}}
					</div>

					<div class="form-group"
						ng-if="selectedPatient && currentPregnancy.length > 0 && !displayCreateLD">
						<button type="submit" class="btn btn-primary"
							ng-click=displayCreateForm() name="displayCreateForm"
							id=displayCreateForm>Create Labor and Delivery Report</button>
					</div>

					<div
						ng-if="selectedPatient && laborAndDeliveryReport.length == 0 && !displayCreateLD">
						<br>There is no current labor and delivery report for this
						patient.
					</div>

					<div ng-if="selectedPatient">
						<div
							ng-if="laborAndDeliveryReport || laborAndDeliveryReport.length > 0">
							<table class="table table-bordered"
								ng-if="!displayCreateLD && selectedPatient && laborAndDeliveryReport.length > 0">
								<thead>
									<tr>
										<th>Labor Date</th>
										<th>Labor Time</th>
										<th>Delivery Date</th>
										<th>Delivery Time</th>
										<th>Delivery Method</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Weight</th>
										<th>Height/Length</th>
										<th>Heart Rate</th>
										<th>Systolic Blood Pressure</th>
										<th>Diastolic Blood Pressure</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="laborNdelivery in laborAndDeliveryReport">
										<td id="laborDate-{{$index}}">{{laborNdelivery.newLdate}}</td>
										<td id="laborTime-{{$index}}">{{laborNdelivery.newLtime}}</td>
										<td id="deliveryDate-{{$index}}">{{laborNdelivery.newDdate}}</td>
										<td id="deliveryTime-{{$index}}">{{laborNdelivery.newDtime}}</td>
										<td id="deliverymethod-{{$index}}">{{laborNdelivery.deliverymethod}}</td>

										<td id="firstname-{{$index}}">{{laborNdelivery.firstname}}</td>
										<td id="lastname-{{$index}}">{{laborNdelivery.lastname}}</td>
										<td id="weight-{{$index}}">{{laborNdelivery.weight}}</td>
										<td id="length-{{$index}}">{{laborNdelivery.length}}</td>
										<td id="heartRate-{{$index}}">{{laborNdelivery.heartRate}}</td>
										<td id="systolic-{{$index}}">{{laborNdelivery.systolic}}</td>
										<td id="diastolic-{{$index}}">{{laborNdelivery.diastolic}}</td>
									</tr>
								</tbody>

								<tbody>
									<tr ng-repeat="laborNdelivery in laborAndDeliveryReport">
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="laborDate-{{$index}}">{{laborNdelivery.newLdate}}</td>
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="laborTime-{{$index}}">{{laborNdelivery.newLtime}}</td>
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="deliveryDate-{{$index}}">{{laborNdelivery.newDdate}}</td>
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="deliveryTime-{{$index}}">{{laborNdelivery.newDtime}}</td>
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="deliverymethodTwin-{{$index}}">{{laborNdelivery.deliverymethodTwin}}</td>

										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="firstnameTwin-{{$index}}">{{laborNdelivery.firstnameTwin}}</td>
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="lastnameTwin-{{$index}}">{{laborNdelivery.lastnameTwin}}</td>
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="weightTwin-{{$index}}">{{laborNdelivery.weightTwin}}</td>
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="lengthTwin-{{$index}}">{{laborNdelivery.lengthTwin}}</td>
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="heartRateTwin-{{$index}}">{{laborNdelivery.heartRateTwin}}</td>
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="systolicTwin-{{$index}}">{{laborNdelivery.systolicTwin}}</td>
										<td ng-if="laborNdelivery.firstnameTwin.length > 0"
											id="diastolicTwin-{{$index}}">{{laborNdelivery.diastolicTwin}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div ng-if="displayCreateLD">

					<div class="row">
						<div class="col">
							<h2 id="header0">New Labor and Delivery Report</h2>

							<div class="form-group col-md-2">
								<label for="date">Labor Date</label>
								<div class="input-group">
									<input class="form-control" id="ldate" type="date"
										ng-model="entry.inputlabordate" name="inputlabordate"
										required="true" />
								</div>
							</div>

							<div class="form-group col-md-2">
								<label for="date">Labor Time</label>
								<div class="input-group">
									<input class="form-control" id="ltime" type="time"
										ng-model="entry.inputlabortime" name="inputlabortime"
										required="true" />
								</div>
							</div>


							<div class="form-group col-md-2">
								<label for="date">Delivery Date</label>
								<div class="input-group">
									<input class="form-control" id="ddate" type="date"
										ng-model="entry.inputdeliverydate" name="inputdeliverydate"
										required="true" />
								</div>
							</div>

							<div class="form-group col-md-2">
								<label for="date">Delivery Time</label>
								<div class="input-group">
									<input class="form-control" id="dtime" type="time"
										ng-model="entry.inputdeliverytime" name="inputdeliverytime"
										required="true" />
								</div>
							</div>

							<div class="form-group col-md-4">
								<label>Twins?:</label>

								<div class="panel panel-default">
									<div class="panel-body">
										<div class="form-check">
											<ul style="overflow: auto; list-style: none;">
												<li ng-repeat="twinOption in twinOptions"><label>
														<input type="radio" ng-model="entry.twinOption"
														name="{{twinOption}}" value="{{twinOption}}"
														required="true" ng-click="checkTwin()" /> {{twinOption}}
												</label></li>
											</ul>
										</div>
									</div>
								</div>


							</div>

							<div class="form-group col-md-4" ng-if="showInfant">
								<label>First Infant's Delivery Method:</label>

								<div class="panel panel-default">
									<div class="panel-body">
										<div class="form-check">
											<ul style="overflow: auto; list-style: none;">
												<li ng-repeat="deliverymethod in deliveryMethods"><label>
														<input type="radio" ng-model="form.deliverymethod"
														name="{{deliverymethod}}" value="{{deliverymethod}}"
														required="true" ng-click="isMiscarriage1()" />
														{{deliverymethod}}
												</label></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group col-md-4" ng-if="showTwinForm">
								<label>Second Infant's Delivery Method:</label>

								<div class="panel panel-default">
									<div class="panel-body">
										<div class="form-check">
											<ul style="overflow: auto; list-style: none;">
												<li ng-repeat="deliverymethodTwin in deliveryMethods2"><label>
														<input type="radio" ng-model="form.deliverymethodTwin"
														name="{{deliverymethodTwin}}"
														value="{{deliverymethodTwin}}" required="true"
														ng-click="isMiscarriage2()" /> {{deliverymethodTwin}}
												</label></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<!-- IF NOT A MISCARRIAGE SHOW REST OF FIELDS -->
							<!-- Single Infant's Information Panel -->
							<div class="col-md-4" ng-if="showForm1">
								<div class="panel panel-info">

									<div align="left" class="panel-heading">
										<h4>First NewBorn's Information</h4>
									</div>
									<div class="panel-body">

										<div class="form-group row">
											<div class="col-xs-6">
												<label>First Name:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="firstname"
													ng-model="form.firstname" required="true" type="text">
											</div>
										</div>


										<div class="form-group row">
											<div class="col-xs-6">
												<label>Last Name:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="lastname"
													ng-model="form.lastname" required="true" type="text">
											</div>
										</div>


										<div class="form-group row">
											<div class="col-xs-6">
												<label>Weight:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="weight"
													ng-model="form.weight" required="true" type="text">
												<div class="input-group-addon">lbs</div>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-xs-6">
												<label>Height/Length:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="length"
													ng-model="form.length" required="true" type="text">
												<div class="input-group-addon">in</div>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-xs-6">
												<label>Heart Rate:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="heartrate"
													ng-model="form.heartRate" required="true" type="text">
												<div class="input-group-addon">BPM</div>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-xs-6">
												<label>Systolic:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="systolic"
													ng-model="form.systolic" required="true" type="text">
												<div class="input-group-addon">mmHg</div>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-xs-6">
												<label>Diastolic:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="diastolic"
													ng-model="form.diastolic" required="true" type="text">
												<div class="input-group-addon">mmHg</div>
											</div>
										</div>

									</div>
								</div>

							</div>

							<!-- Twin Information Panel -->
							<div class="col-md-4" ng-if="showTwinForm && showForm2">
								<div class="panel panel-info">

									<div class="panel-heading">
										<h4>Second Newborn's Information</h4>
									</div>
									<div class="panel-body">


										<div class="form-group row">
											<div class="col-xs-6">
												<label>First Name:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="firstnameTwin"
													ng-model="form.firstnameTwin" required="true" type="text">
											</div>
										</div>


										<div class="form-group row">
											<div class="col-xs-6">
												<label>Last Name:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="lastnameTwin"
													ng-model="form.lastnameTwin" required="true" type="text">
											</div>
										</div>

										<div class="form-group row">
											<div class="col-xs-6">
												<label>Weight:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="weightTwin"
													ng-model="form.weightTwin" required="true" type="text">
												<div class="input-group-addon">lbs</div>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-xs-6">
												<label>Height/Length:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="lengthTwin"
													ng-model="form.lengthTwin" required="true" type="text">
												<div class="input-group-addon">in</div>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-xs-6">
												<label>Heart Rate:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="heartrateTwin"
													ng-model="form.heartRateTwin" required="true" type="text">
												<div class="input-group-addon">BPM</div>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-xs-6">
												<label>Systolic:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="systolicTwin"
													ng-model="form.systolicTwin" required="true" type="text">
												<div class="input-group-addon">mmHg</div>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-xs-6">
												<label>Diastolic:</label>
											</div>
											<div class="col-xs-6">
												<input class="form-control" name="diastolicTwin"
													ng-model="form.diastolicTwin" required="true" type="text">
												<div class="input-group-addon">mmHg</div>
											</div>
										</div>



									</div>
								</div>
							</div>

							<!--closes ngif twin -->

						</div>
					</div>
					<!--closes the ENTIRE thing -->

					<div class="form-group">
						<div name="success" class="text-success" style="white-space: pre;">{{message}}</div>
						<div name="errorMsg" class="text-danger" style="white-space: pre;">{{errorMsg}}</div>
					</div>

					<div class="panel-footer text-right"
						ng-if="selectedPatient && displayCreateLD">
						<button type="submit" class="btn btn-primary btn-lg"
							ng-click=submitLD() name="submitLD" id="submitLD">Submit
							Labor and Delivery Report</button>
					</div>
				</div>
				<!-- CLOSES LABOR AND DELIVERY REPORT CREATE FORM -->
			</div>
		</div>
	</div>
</body>
</html>